@import "tailwindcss";

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}


:root {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

.font-heading {
  font-family: var(--font-red-rose), cursive;
}



